@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font: "Poppins", sans-serif;
}
.header {
  font-family: var(--font);
  text-align: center;
  margin-top: 40px;
  color: #242424;
}
.crypname {
  font-family: var(--font);
}
.form-control {
  width: 30vw !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  font-family: var(--font);
  border-color: #242424 !important;
}
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #242424 !important;
}
